@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Product Sale</h2>
@*<div class="card-group">
        @foreach(var item in Model)
                {
            <div class="card">
                <img class="card-img-top"  src="data:image;base64,@item.Photo" alt="card image cap"/>
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName </h5>
                    <p class="card-text">@item.Price</p>
                    <p class="card-text"><small class="text-muted">@((item.Brand!=null)?item.Brand.BrandName:"")</small></p>
                    <p class="card-text"><small class="text-muted">@((item.Category!=null)?item.Category.CategoryName:"")</small></p>
                </div>
            </div>

                }
    </div>*@


@(Html.Kendo().Grid<EFDBFirstApproachExample.Models.Product>()
          .Name("productGrid")
          .Columns(columns=>
          {
              columns.Select().Width(75).HtmlAttributes(new { @class = "checkbox-align" }).HeaderHtmlAttributes(new { @class = "checkbox-align" });
              columns.Bound(c => c.ProductId);
              columns.Bound(c => c.ProductName);
              columns.Bound(c => c.Price);
              columns.Bound(c => c.DateOfPurchase);
              columns.Bound(c => c.AvailabilityStatus);
              columns.Bound(c => c.BrandId);
              columns.Bound(c => c.CategoryId);
          })
           .Sortable()
           .Scrollable()
            .Filterable()
             .Groupable()
          .DataSource(dataSource=>dataSource
          .Ajax()
          .Read(read=>read.Action("pg", "Products"))
          )
            )